/* 
 * The order of things:
 *
 * RESET........Undo defaults
 * MEDIA........The media object
 * MAIN.........HTML/BODY, wrappers
 * SITE-NAV.....Page's nav bar
 * FOOTER.......Disclamer, links
 *
 * */


/* -- Media -- */

@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: local('Average'), local('Average-Regular'), url(fonts/average.woff) format('woff');
}

@font-face {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  src: local('Quando-Regular'), url(fonts/quando.woff) format('woff');
}

@font-face {
	font-family: 'Monofett';
	font-style: normal;
	font-weight: 400;
	src: local('Monofett'), url(http://themes.googleusercontent.com/static/fonts/monofett/v3/94n9d8-lEEaOz-Sn4plHGHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

/* -- /Media -- */




/* -- Globals -- */

html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body {
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	background: #6997BF;
	background-position: 0% 0%;
	background-repeat: repeat repeat;
	position:absolute;
	top:0;
	left:0;
}

h1 {
	font-family: 'Average', serif;
	font-size:30px;
}

h2 {
	font-family: 'Average', serif;
	font-size:24px;
}

h3 {
	font-family: 'Average', serif;
	font-size:18px;
}

p {
	font-size:12px;
}

/* -- Buttons -- */
.btn {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(to bottom, white, #E6E6E6);
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
	border: 1px solid #BBB;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-bottom-color: #A2A2A2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled]{
	color:#333333;
	background-color:#e6e6e6;
	*background-color:#d9d9d9;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:hover {
	color:#333333;
	text-decoration:none;
	background-position:0 -15px;
	-webkit-transition:background-position 0.1s linear;
	-moz-transition:background-position 0.1s linear;
	-o-transition:background-position 0.1s linear;
	transition:background-position 0.1s linear;
}

.btn.active, .btn:active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn .icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	margin-right:5px;
	line-height: 14px;
	vertical-align: text-top;
	background-image:url('images/glyphicons.png');
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.btn input {
	position: absolute;
	width:100%;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

.start {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5BB75B;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
	background-image: -webkit-linear-gradient(top, #62C462, #51A351);
	background-image: -o-linear-gradient(top, #62C462, #51A351);
	background-image: linear-gradient(to bottom, #62C462, #51A351);
	background-image: -moz-linear-gradient(top, #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: #51A351 #51A351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.start:hover {
	color:#fff;
	background-color:#51A351;
}

.start:active {
	color:#ffffff;
	background-color:#408140;
}

.start .icon {
	background-position: -144px -24px;
}

.cancel {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #FAA732;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
	background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
	background-image: -o-linear-gradient(top, #FBB450, #F89406);
	background-image: linear-gradient(to bottom, #FBB450, #F89406);
	background-image: -moz-linear-gradient(top, #FBB450, #F89406);
	background-repeat: repeat-x;
	border-color: #F89406 #F89406 #AD6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.cancel:hover {
	color:#fff;
	background-color:#F89406;
}

.cancel:active {
	color:#fff;
	background-color:#c67605;
}

.cancel .icon {
	background-position: -216px -96px;
}

.delete {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #DA4F49;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
	background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
	background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
	background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
	background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
	background-repeat: repeat-x;
	border-color: #BD362F #BD362F #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.delete:hover {
	color: white;
	background-color: #BD362F;
}

.delete:active {
	color:#fff;
	background-color:#942a25;
}

.delete .icon {
	background-position: -456px 0;
}

.open {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	background-image: -o-linear-gradient(top, #08C, #04C);
	background-image: linear-gradient(to bottom, #08C, #04C);
	background-image: -moz-linear-gradient(top, #08C, #04C);
	background-repeat: repeat-x;
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.open:hover {
	color:#fff;
	background-color:#0044cc;
}

.open:active {
	color:#ffffff;
	background-color:#0044cc;
	*background-color:#003bb3;
}

.open .icon {
	background-position: -408px -96px;
}
/* -- /Buttons -- */


/* -- Progress Bars -- */
.progress {
	width:100%;
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #F7F7F7;
	background-image: -moz-linear-gradient(top, whiteSmoke, #F9F9F9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#F9F9F9));
	background-image: -webkit-linear-gradient(top, whiteSmoke, #F9F9F9);
	background-image: -o-linear-gradient(top, whiteSmoke, #F9F9F9);
	background-image: linear-gradient(to bottom, whiteSmoke, #F9F9F9);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#progressBar {
    height: 100%;
    width:100%;
}

#progressBar > #innerProgress {
    height: 100%;
    width:100%
}


/* -- /Globals -- */


/* -- Header -- */
.header {
	/*background: rgba(255, 255, 255, 0.8); */
	background:#fff;
	padding:10px 20px 0px;
	border-bottom: 1px solid #DDD;
	-webkit-box-shadow: 0 2px 6px -0px #333;
	-moz-box-shadow: 0 2px 6px -0px #333;
	box-shadow: 0 2px 6px -0px #333;
}

.header a.title {
	width:300px;
	height:60px;
  background: url('/images/cc-logo.png') 0 -185px;
  background-size: 100% 250px;
	display:inline-block;
	text-decoration:none;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.header a.title:hover {
}
	

.header img {
	width:300px;
}

.nav {
	position:absolute;
	top:10px;
	right:20px;
}

.nav li {
	list-style:none;
	float:left;
	margin-right:20px;
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight: 300;
}

.nav li a {
	color:#333;
	width:auto;
	text-decoration:none;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.4s linear;
	padding:10px 20px;
	border-radius:3px;
}

.nav li:hover a {
	background:#f5f6f8;
}

/* --- /Header --- */


/* --- Body --- */
.body {
	margin-top:20px;
}

.page {
	width:600px;
	overflow-x:hidden;
	background:whiteSmoke;
	padding:20px;
    display:block;
	margin:80px auto 20px;
	position:relative;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

#userFilesContainer {

    float: left;
    margin-left: 30px;
    margin-right: 50px;
}

.upload {
	border: 2px dashed #B5B9B9;
	height:300px;
	position:relative;
}

.upload-message {
	position:absolute;
	top:150px;
	left:0;
	width:100%;
	color:#aaa;
	text-align:center;
}

.dragEnter {
	border: 2px dashed #8DBF41;
}

.upload-controls {
	margin-top:20px;
	min-height:30px;
}

.upload-panel {
	position:absolute;
	left:-400px;
}

.upload-panel > .btn {
    margin-left: 5px;
}

.upload-add-files {
	position:absolute;
}


.file-table {
	padding-top:20px;
	display:none;
}

.file-table .row {
	height:20px;
	padding:5px;
	color:#333;
	font-size:14px;
}

.file-table .row.top {
	background:#333;
	color:#fff;
	text-align:center;
}

.file-table .row.top div {
}

.file-table .row {
	color:#333;
	background:#eee;
	border-color:black;
}

.file-table .row > div {
	float:left;
	border-right:#eee 1px solid;
	padding-left:10px;
}

.file-table .row > div:nth-child(1) {
	width:4%;
	padding:0;
}

.file-table .row > div:nth-child(2) {
	width:35%;
}

.file-table .row > div:nth-child(3) {
	width:15%;
}


.file-table .row > div:nth-child(4) {
	width:40%;
	border-right:none;
}
