<div class="floatingContainer" id="userFilesContainer" template="user-files">
  <div id="filePath">
    <div class="span noMargin">
      <a class="breadcrumb" href="#user/fs//">Home</a>
    </div>

    <div class="span filePart">
      <p>/</p>
    </div>
  </div>

  <div id="deleteButton"></div>

  <div class="files">
    <div class="outerBar turqouiseBtn" id="createFolder">
      <p class="barText fileBarText pointer" id="createFolderBtn">Create
      Folder</p>
    </div>

    <div class="subItems" id="folderNameSub">
      <div class="outerBar" id="folderNameInput">
        <input placeholder="Folder Name" type="text">
      </div>
    </div>

    <div class="outerBar" id="filesSeparator">
      <div class="filesLabelContainer">
        <p class="barText filesLabel">Files</p>
      </div>
    </div>

    <div class="file outerBar asphaltBtn">
      <i class="icon-picture fileIcon"></i>

      <p class="fileBarText barText">cool hammock.jpg</p>
    </div>

    <div class="file outerBar asphaltBtn">
      <i class="icon-folder-open fileIcon"></i>

      <p class="fileBarText barText">Tax Returns</p>
    </div>

    <div class="file" id="barsContainer">
      <div class="bars"></div>
    </div>
  </div>
</div>
