h1 About
#aboutSeparator
#aboutText
    .row-fluid.marginLeft
      .span10
        h2 A simple Solution to a <i>hard</i> Problem
        p.marginLeft
          | Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.

    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      h2 How to use

      .row-fluid.marginLeft
        .span6
          h3 Anonymous Upload
          p.marginLeft
            | Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.
        .span6
          img(src="images/upload.png")

      .row-fluid.marginLeft
        .span6
          img(src="images/account.png")
        .span6
          h3 Private Account
          p.marginLeft
            | Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.

      .row-fluid.marginLeft
        .span6
          h3 Safe and Private sharing, made easy
          p.marginLeft
            | Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.
        .span6
          img(src="images/file.png")

      .row-fluid.marginLeft
        .span6
          img(src="images/2factor.png")
        .span6
          h3 Secure Login
          p.marginLeft
            | Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.

    .row-fluid
      .span8.offset2
        .infoSeparator



    .marginLeft

        h2 Principles 

        .row-fluid

          .span6
            p.marginLeft
              h3 
                i.icon-code.marginRight
                | Open Source
              

              p.marginLeft
                | Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.
                |
                | Shoulder shankle rump jerky spare ribs venison. Pork spare ribs shankle swine short loin. Drumstick cow pig meatball meatloaf. Sirloin strip steak t-bone, beef short loin meatball jowl filet mignon. Fatback drumstick tail swine chicken ham, boudin capicola venison meatloaf shank.

          .span6.pull-right
            p.marginLeft
              h3 
                i.icon-eye-close.marginRight
                | No Tracking, Not now, Not <i> ever </i>
              
              p.marginLeft

                Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.

                Shoulder shankle rump jerky spare ribs venison. Pork spare ribs shankle swine short loin. Drumstick cow pig meatball meatloaf. Sirloin strip steak t-bone, beef short loin meatball jowl filet mignon. Fatback drumstick tail swine chicken ham, boudin capicola venison meatloaf shank.

        .row-fluid
          .span6
            p.marginLeft
              h3 
                i.icon-lock.marginRight
                | Encryption, with rounded corners
              
              p.marginLeft

                | Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.

                | Shoulder shankle rump jerky spare ribs venison. Pork spare ribs shankle swine short loin. Drumstick cow pig meatball meatloaf. Sirloin strip steak t-bone, beef short loin meatball jowl filet mignon. Fatback drumstick tail swine chicken ham, boudin capicola venison meatloaf shank.

          .span6.pull-right
            p.marginLeft
              h3 
                i.icon-fire.marginRight
                | Entropy Proof 
              
              p.marginLeft

                | Bacon ipsum dolor sit amet tongue sirloin bresaola, meatball shank pork swine tri-tip sausage pork belly. Ham hock drumstick bacon flank kielbasa capicola pig, cow biltong beef prosciutto fatback jowl boudin. Shank spare ribs ribeye pork ham shoulder drumstick tri-tip kielbasa pancetta brisket salami filet mignon. Sausage ham beef ribs brisket.

                | Shoulder shankle rump jerky spare ribs venison. Pork spare ribs shankle swine short loin. Drumstick cow pig meatball meatloaf. Sirloin strip steak t-bone, beef short loin meatball jowl filet mignon. Fatback drumstick tail swine chicken ham, boudin capicola venison meatloaf shank.



    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      h2 The Team

      .row-fluid.marginLeft
        .span4
          img(src="images/jolly-profile.png").img-rounded.marginLeft
        .span4
          img(src="images/marco-profile.png").img-rounded.marginLeft
        .span4
          img(src="images/brian-profile.png").img-rounded.marginLeft

      .row-fluid.marginLeft
        .span4
      .row-fluid.marginLeft
        .span4
          h3 Luke Jolly
          p.marginLeft 
            | Shoulder shankle rump jerky spare ribs venison. Pork spare ribs shankle swine short loin. Drumstick cow pig meatball meatloaf. Sirloin strip steak t-bone, beef short loin meatball jowl filet mignon. Fatback drumstick tail swine chicken ham, boudin capicola venison meatloaf shank.
        .span4
          h3 Marco Munizaga
          p.marginLeft 
            | Shoulder shankle rump jerky spare ribs venison. Pork spare ribs shankle swine short loin. Drumstick cow pig meatball meatloaf. Sirloin strip steak t-bone, beef short loin meatball jowl filet mignon. Fatback drumstick tail swine chicken ham, boudin capicola venison meatloaf shank.
        .span4
          h3 Brian Picciano
          p.marginLeft 
            | Shoulder shankle rump jerky spare ribs venison. Pork spare ribs shankle swine short loin. Drumstick cow pig meatball meatloaf. Sirloin strip steak t-bone, beef short loin meatball jowl filet mignon. Fatback drumstick tail swine chicken ham, boudin capicola venison meatloaf shank.

    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      .row-fluid
        .span1.offset5 
          h2 Interested?
      .row-fluid
        .span12
      .row-fluid.marginLeft
        .offset3.span3 
          p#provactiveContact Let's stay in touch
        .span3.contact
          .control-group
            label.contactEmailLabel.login-field-icon.icon-envelope(for="contactEmail")
            input.login-field#contactEmail(type="text", placeholder="you@email.com")
      .row-fluid.marginLeft
        .span12
      .row-fluid.marginLeft
        .offset3.span3
          p.helloEmail Come say "Hello!"
        .span3
          a.helloEmail(href="mailto:hello@cryptic.io") hello@cryptic.io


