h1 About
#aboutSeparator
#aboutText
    .row-fluid.marginLeft
      .span10
        h2 A simple Solution to a <i>hard</i> Problem
        p.marginLeft
            | Encryption soltuions exists, but you, and the people you work with, don't use it. The problem is that <b>secure and good</b> encryption is <i>hard</i> (with a capital <i>HARD</i>).
            | Cryptic.io makes encryption easy, without comprimising security or privacy.

    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      h2 How to use

      .row-fluid.marginLeft
        .span6
          h3 Anonymous Upload
          p.marginLeft
            | Anonymity, is the greatest tool for privacy. Therefore you can start uploading and sharing information securely right away! (<i>sans hoops</i>).
          p.marginLeft
            | Likewise, anyone you <i>explicitly</i> give permission to see your files can download them right away, no account needed. 

        .span6
          img(src="images/upload.png")

      .row-fluid.marginLeft
        .span6
          img(src="images/account.png")
        .span6
          h3 <i>Private</i> Account
          p.marginLeft
            | Private accounts provide all the benefits of having a managed system, without compromising privacy.   
          p.marginLeft
            | All account information exists encrypted on our servers, and only decrypted locally on your computer. We don't even keep a hash of your password. (check out <a href="/security"> security </a> for more info)

      .row-fluid.marginLeft
        .span6
          h3 Safe and Private sharing, made easy
          p.marginLeft
              | You <i>explicity</i> declare who sees your files and how. (Sorry NSA)
          p.marginLeft
              | You can specify a normal link that will work until you delete a file, a time limited link which will work for a specified time, and a one time only, which, you guessed it, works once.
        .span6
          img(src="images/file.png")

      .row-fluid.marginLeft
        .span6
          img(src="images/2factor.png")
        .span6
          h3 Secure Login
          p.marginLeft
            | When one password isn't enough, we support (and <i>encourage</i>) 2 factor authentication. 
          p.marginLeft
            | By using your smart phone as another means of authentication, online attacks are effectively thwarted, and physical attacks become significantly harder.

    .row-fluid
      .span8.offset2
        .infoSeparator



    .marginLeft

        h2 Principles 

        .row-fluid

          .span6
            p.marginLeft
              h3 
                i.icon-code.marginRight
                | Open Source

              p.marginLeft
                  | There are two basic types of security:
              ul
                li Security through obscurity (As long as nobody notices there is a hole in the wall, there isn't)
                li Security through openness (Show as many people as you can the wall. If there is a hole, let's fix it right now)

              p.marginLeft
                | We live for open source code. We firmly believe <b>nothing can be truly secure if it isn't open sourced</b>.
                | Therefore, anything that interacts with your raw data is completely open source, no exceptions ( <a href="https://github.com/cryptic-io/web">Source</a>).

          .span6.pull-right
            p.marginLeft
              h3 
                i.icon-eye-close.marginRight
                | No Tracking, Not now, Not <i> ever </i>

              p.marginLeft
                  | &emsp;&emsp;&emsp;&emsp; Privacy has become a second class citizen, and we've come to accept a lose of privacy in exchange for simplicity.
                  | We don't make that compromise and we don't allow our users to make that compromise either. 
                  | Anything you do on Cryptic is know to you, and to you alone, remember there is a reason why curtains exists.
              
        .row-fluid
          .span6
            p.marginLeft
              h3 
                i.icon-lock.marginRight
                | Encryption, with rounded corners
              
              p.marginLeft
                | &emsp;&emsp;&emsp;&emsp;
                | Exisiting solutions for safely encrypting and storing data are cumbersome. PGP is a wonderful tool, but it has a high barrier of entry
                | and impractical when sharing files with non-PGPers.
                | Cryptic Solves these problems by creating a beautiful, simple, and easy to use interface to encrypt, store, and share files. 
                | All without having to install a single piece of hardware.

          .span6.pull-right
            p.marginLeft
              h3 
                i.icon-fire.marginRight
                | Entropy Proof 
              
              p.marginLeft
                | &emsp;&emsp;&emsp;&emsp;
                | Hard drives are delicate little things; they spin a magnetic disk at insanely fast speeds.
                | If some natural disaster doesn't destroy your data, it's simply a matter of time before the drive itself dies. 
                | The best solution we have so far is to make it somebody else's problem, usually through insecurely.
                | Cryptic doesn't compromise, we store your encrypted data reduntantly across several drives and across different continents. 



    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      h2 The Team

      .row-fluid.marginLeft
        .span4
          img(src="images/jolly-profile.png").img-rounded.marginLeft
        .span4
          img(src="images/marco-profile.png").img-rounded.marginLeft
        .span4
          img(src="images/brian-profile.png").img-rounded.marginLeft

      .row-fluid.marginLeft
        .span4
      .row-fluid.marginLeft
        .span4
          h3 Luke Jolly
          p.marginLeft 
            | &emsp;&emsp;&emsp;&emsp;
            | Countrary to popular belief, Jolly did <i>not</i> shoot a man in reno to watch him die.
            | Jolly gets his Jollies by being a badass server admin and keeping uptime as high as humanely possible.
        .span4
          h3 Marco Munizaga
          p.marginLeft 
            | &emsp;&emsp;&emsp;&emsp;
            | Shoulder shankle rump jerky spare ribs venison. Pork spare ribs shankle swine short loin. Drumstick cow pig meatball meatloaf. Sirloin strip steak t-bone, beef short loin meatball jowl filet mignon. Fatback drumstick tail swine chicken ham, boudin capicola venison meatloaf shank.
        .span4
          h3 Brian Picciano
          p.marginLeft 
            | &emsp;&emsp;&emsp;&emsp;
            | Being an intersting mix of Man and Sugar Glider, Brian finds time to work on speeding up API calls, and novel, efficient, methods to store
            | data reduntantly. He enjoys breaking things, and trying to make them better.

    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      .row-fluid
        .span1.offset5 
          h2 Interested?
      .row-fluid
        .span12
      .row-fluid.marginLeft
        .offset3.span3 
          p#provactiveContact Let's stay in touch
        .span3.contact
          .control-group
            label.contactEmailLabel.login-field-icon.icon-envelope(for="contactEmail")
            input.login-field#contactEmail(type="text", placeholder="you@email.com")
      .row-fluid.marginLeft
        .span12
      .row-fluid.marginLeft
        .offset3.span3
          p.helloEmail Come say "Hello!"
        .span3
          a.helloEmail(href="mailto:hello@cryptic.io") hello@cryptic.io


