h1 About
#aboutSeparator
#aboutText
    .row-fluid.marginLeft
      .span10
        h2 Making secure, encrypted, online storage easy for everyone
        p.marginLeft
            | Encryption solutions exist, but you, and the people you work with,
            | don't use them. The problem is that <b>secure and good</b>
            | encryption is <b>hard</b>. 
            | Cryptic makes encryption easy, without compromising security or
            | privacy.

    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      h2 How to use

      .row-fluid.marginLeft
        .span6
          h3 Anonymous Upload
          p.marginLeft
            | Anonymity is the greatest tool for privacy. You can start
            | uploading and sharing information securely right away! (<i>sans
            | hoops</i>).
          p.marginLeft
            | Likewise, anyone you <i>explicitly</i> give permission to see your
            | files can download them right away, no account needed.

        .span6
          img(src="images/upload.png")

      .row-fluid.marginLeft
        .span6
          img(src="images/account.png")
        .span6
          h3 <i>Private</i> Account
          p.marginLeft
            | Private accounts provide all the benefits of having a managed
            | system, without compromising privacy.
          p.marginLeft
            | All account information exists encrypted on our servers, and is
            | only decrypted locally on your computer. We don't even keep a hash
            | of your password. (check out <a href="/security"> security </a>
            | for more info.)

      .row-fluid.marginLeft
        .span6
          h3 Safe and Private sharing, made easy
          p.marginLeft
              | You <i>explicity</i> declare who sees your files and how.
          p.marginLeft
              | When sharing a file with someone else you can specify a normal
              | link that will work until you delete a file, a time limited link | which will work for a specified time, and a one time only link
              | which, you guessed it, can only be downloaded once before
              | disappearing.
        .span6
          img(src="images/file.png")

      .row-fluid.marginLeft
        .span6
          img(src="images/2factor.png")
        .span6
          h3 Secure Login
          p.marginLeft
            | When one password isn't enough, we support (and encourage!)
            | 2 factor authentication.
          p.marginLeft
            | By using your smart phone as another means of authentication,
            | online attacks are effectively thwarted, and physical attacks
            | become significantly harder.

    .row-fluid
      .span8.offset2
        .infoSeparator



    .marginLeft

        h2 Principles

        .row-fluid

          .span6
            p.marginLeft
              h3
                i.icon-code.marginRight
                | Open Source

              p.marginLeft
                  | There are two basic types of security:
              ul
                li Security through obscurity (As long as nobody notices the
                   | hole in the wall, there isn't one)
                li Security through openness (Show as many people as you can the
                   | wall. If there is a hole, let's fix it right now)

              p.marginLeft
                | We live for open source code. We firmly believe <b>nothing can
                | be truly secure if it isn't open sourced</b>.
                | Therefore, anything that interacts with your raw data is
                | completely open source, no exceptions
                | (<a href="https://github.com/cryptic-io/web">Source</a>).

          .span6.pull-right
            p.marginLeft
              h3
                i.icon-eye-close.marginRight
                | No tracking. Not now. Not ever.

              p.marginLeft
                  | Privacy has become a second class citizen, and we've come to
                  | accept a loss of privacy in exchange for simplicity.
                  | Cryptic doesn't make that compromise, and we don't allow our
                  | users to make that compromise either. Anything you do on
                  | Cryptic is known to you, and to you alone. We don't collect
                  | any personal data about our users, and we never will.

        .row-fluid
          .span6
            p.marginLeft
              h3
                i.icon-lock.marginRight
                | Encryption, with rounded corners

              p.marginLeft
                | Exisiting solutions for safely encrypting and storing data are
                | cumbersome. PGP is a wonderful tool, but it has a high barrier
                | of entry and is impractical when sharing files with
                | non-PGPers. Cryptic solves these problems by creating a
                | beautiful, simple, and easy to use interface to encrypt,
                | store, and share your files, all without having to install a
                | single piece of hardware or software.

          .span6.pull-right
            p.marginLeft
              h3
                i.icon-fire.marginRight
                | Damage Proof

              p.marginLeft
                | Hard drives are delicate little things; they spin a magnetic
                | disk at insanely fast speeds. If some natural disaster doesn't
                | destroy your data, it's simply a matter of time before the
                | drive itself dies. The best solution we have so far is to make
                | it somebody else's problem, usually insecurely.
                | Cryptic stores your encrypted data reduntantly across several
                | drives and across different continents.



    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      h2 The Team

      .row-fluid.marginLeft
        .span4
          img(src="images/jolly-profile.png").img-rounded.marginLeft
        .span4
          img(src="images/marco-profile.png").img-rounded.marginLeft
        .span4
          img(src="images/brian-profile.png").img-rounded.marginLeft

      .row-fluid.marginLeft
        .span4
      .row-fluid.marginLeft
        .span4
          h3 Luke Jolly
          p.marginLeft
            | Jolly gets his jollies by being a B.A.
            | server admin, and keeping uptime as high as humanely possible.
            | Jolly loves all things linux, and can be found skating around town.
        .span4
          h3 Marco Munizaga
          p.marginLeft
            | Responsible for the frontend architecture, and using cryptography appropriately.
            | Passionate about privacy and security.
            | He spends too much time on hacker news, and is an avid rock climber.
        .span4
          h3 Brian Picciano
          p.marginLeft
            | Equal parts coder, climber, movie lover, and sugar glider keeper, Brian loves
            | designing and writing scalable backend systems. In his spare time he enjoys wasting his
            | money playing with bitcoins.

    .row-fluid
      .span8.offset2
        .infoSeparator

    .marginLeft
      .row-fluid
        .span1.offset5
          h2 Interested?
      .row-fluid
        .span12.text-center
          h2 
            a(href="http://www.kickstarter.com/projects/881250379/2015823725?token=5cfe9446") 
              | Help fund our Kickstarter Project!
       //
        .row-fluid
          .span12
        .row-fluid.marginLeft
          .offset3.span3
            p#provactiveContact Let's stay in touch
          .span3.contact
            .control-group
              label.contactEmailLabel.login-field-icon.icon-envelope(for="contactEmail")
              input.login-field#contactEmail(type="text", placeholder="you@email.com")
         .row-fluid.marginLeft
           .offset6
            .span5
              a#subscribeEmail.btn.btn-primary.btn-block(href="#about") Keep me up to date

      .row-fluid.marginLeft
        .span12
      .row-fluid.marginLeft
        .offset3.span3
          p.helloEmail Come say "Hello!"
        .span3
          a.helloEmail(href="mailto:hello@cryptic.io") hello@cryptic.io
