#vault
    .inner-border#upload
        p.vaultText Drop a file in
        .separator
            p or
        .btn.btn-inverse.btn-block#filePickerBtn
            p Pick a file
        input#filePicker(type="file",style="display:none", onchange="test(this.files)")
        p(style="width: 200px; text-align: center; margin: auto; margin-top: 6px; font-size: 14px;")
          | Anonymous files are deleted after one hour.
          br
          | Max file size of 10MB.
