#vault
    .inner-border#upload
        p Drop a file in

//
    .upload-message Drag files here to add to queue.
    #upload.upload
    .upload-controls
      .upload-panel
        span.btn.start#uploadFiles
          i.icon 
          span Start Upload
        span.btn.delete#removeFiles
          i.icon
          span Remove
      .upload-add-files
        span.btn.open
          i.icon 
          span Add Files
          input(type="file",multiple="multiple")

    .file-table
      .row.top
        div: input#topCheckbox(type="checkbox")
        div Filename
        div Size
        div Status
      .files


