#headerText Drag and Drop a file in!
#dragDropUpload 
    #progressBarContainer
    #dndInfo About to encrypt and upload:
    #filename nothing, currently.
    input#downloadLink(type="text")
    button#uploadFile UPLOAD
    button#uploadAnother OK
