#uploadBoxContainer.floatingContainer
#barsContainer.floatingContainer
#userFilesContainer.floatingContainer
#singleFileContainer.floatingContainer

#leftBtn.sideBtn
    p abc 1234
#rightBtn.sideBtn
    p abc 1234
#leftDownBtn.sideBtn
    p abc 1234
#rightDownBtn.sideBtn
    p abc 1234
