//
    #uploadBoxContainer.floatingContainer
    #barsContainer.floatingContainer
    #userFilesContainer.floatingContainer
    #singleFileContainer.floatingContainer

#page0.page
#page1.page
#page2.page
#page3.page
#page4.page

#leftBtn.sideBtn
    p abc 1234
#rightBtn.sideBtn
    p abc 1234
#leftDownBtn.sideBtn
    p abc 1234
#rightDownBtn.sideBtn
    p abc 1234
