#page0.page
#page1.page
    #randomBox
    #barsContainer.floatingContainer
#page2.page
#page3.page
#page5.page
#page6.page
#page7.page
#page8.page
#page9.page

#leftBtn.sideBtn
    p abc 1234
#rightBtn.sideBtn
    p abc 1234
#leftDownBtn.sideBtn
    p abc 1234
#rightDownBtn.sideBtn
    p abc 1234
