.progressBars
    .barTitle
        p= title 
    .bars
        each item in items
            .outerBar
                p.barText= item.text
                a.barText.barLink(href="#download/jadsf/adfasd", target="_blank") someLink
                p.delete ✕
                .innerBar(style="width:#{item.percent};")
