.topBox.carrotBtn.span
    p= categories[0]
    .selectedBar.carrotSelected
.topBox.emeraldBtn.span
    p= categories[1]
    .selectedBar.emeraldSelected
.topBox.asphaltBtn.span
    p= categories[2]
    .selectedBar.asphaltSelected
.topBox.peter-riverBtn.span
    p= categories[3]
    .selectedBar.riverSelected
