.topBox.emeraldBtn.span
    p Upload
    .selectedBar.emeraldSelected
.topBox.carrotBtn.span
    p About
    .selectedBar.carrotSelected
.topBox.asphaltBtn.span
    p Register
    .selectedBar.asphaltSelected
.topBox.peter-riverBtn.span
    p Login
    .selectedBar.riverSelected
