.page#UserFiles Here are your files: 
  #folderButtons
    span#newFolder
      button New Folder
    span#deleteFolder
      button Delete Folder

  #deleteButton
  .files 
    .file#folderNameInput(style="display:none")
      input(placeholder="Folder Name")
    each file in files
      .file
        .filename
          a.folder(href="#user/fs#{fsLocation}#{file.filename}")= file.filename

        
