#filePath
  .span.filePart
    a(href="#user/fs//") / 
  each fsPart in fsParts
    .span.filePart
      a(href="#", filename="#{fsPart}").breadcrumb= fsPart.replace(/\\\//g,"/")
    .span.filePart
      p / 
#deleteButton
.files 
  .outerBar.turqouiseBtn#createFolder
    p.barText.fileBarText#createFolderBtn.pointer Create Folder
  .subItems#folderNameSub
    .outerBar#folderNameInput
      input(type="text", placeholder="Folder Name")
  if !inRoot
    .deleteBtn.outerBar.pointer.alizarinBtn#deleteFolder
      p.barText.fileBarText Delete This Folder
  .outerBar#filesSeparator
    .filesLabelContainer
        p.barText.filesLabel Files
  each file in files
    .file.outerBar.asphaltBtn
      if file.type === "folder"
          i.icon-folder-open.fileIcon
      else if file.type.indexOf("image") !== -1 
          i.icon-picture.fileIcon
      else if file.type.indexOf("audio") !== -1 
          i.icon-music.fileIcon
      else 
          i.icon-file.fileIcon
      p.fileBarText.barText(path="#{fsLocation}#{file.filename}", filename="#{file.filename}")= file.filename.replace(/\\\//g,"/")
  .file#barsContainer
    .bars
