#filePath
  .span.filePart
    a(href="#user/fs//") / 
  each fsPart in fsParts
    .span.filePart
      a(href="#").breadCrumb= fsPart
    .span.filePart
      p / 
#deleteButton
.files 
  .outerBar#createFolder
    p.barText.fileBarText#createFolderBtn.pointer Create Folder
  .subItems#folderNameSub
    .outerBar#folderNameInput
      input(type="text", placeholder="Folder Name")
  if !inRoot
    .deleteBtn.outerBar.pomegranate.pointer#deleteFolder
      p.barText.fileBarText Delete This Folder
  each file in files
    if file.selected
      .file.outerBar.selectedFile
        p.fileBarText.barText(path="#{fsLocation}#{file.filename}")= file.filename
        p.delete ✕
    else
      .file.outerBar
        p.fileBarText.barText(path="#{fsLocation}#{file.filename}")= file.filename
        p.delete ✕
   .file#barsContainer
     .bars
