#loginBox
  if loggedIn 
    .usernameContainer
      span signed in as 
      #username= username
      button#userOptionsButton Options
  else 
    h1 Login
    #usernameInput.inputField
      input(type="text", placeholder="username") 
    #passwordInput.inputField 
      input(type="password", placeholder="password")
    // 
        #twoStepAuthInput Enter 2 step authentication code:
          input(type="text")
    a#loginBtn.btn.btn-block.btn-primary.btn-large(href="#login") Login
