h2 Settings
#changePassword.option
  #changePasswordForm
    .controlGroup
        input#oldPass(type="password", placeholder="Original Password")
    .controlGroup
        input.newPass(type="password", placeholder="New Password")
    .controlGroup
        input.newPass(type="password", placeholder="New Password")
    .controlGroup
        a.btn.btn-primary.btn-large.btn-block.changePassword Change Password
#deleteAccount.option
  .controlGroup
    a.btn.btn-danger.btn-large.btn-block.changePassword Delete Account

