.page
  #userOptions
    #changePassword.option
      button#changePasswordBtn Change password
      #changePasswordForm
        input#oldPass(type="password", placeholder="Old Password")
        input#newPass(type="password", placeholder="New Password")
        button#confirmPassChange.confirmChange Change Password
      button#saveOptions Save

