.page#UserFiles 
  //
    #folderButtons
      span#newFolder
        button New Folder
      span#deleteFolder
        button Delete Folder

  #filePath
    - var fsParts = fsLocation.replace(/^\//g,'').split("/")
    each fsPart in fsParts
      .span.filePart
        p / 
      .span.filePart
        p= fsPart
  #deleteButton
  .files 
    .outerBar#createFolder
      p.barText.fileBarText Create Folder
    .file#folderNameInput(style="display:none")
      input(placeholder="Folder Name")
    each file in files
      if file.selected
        .file.outerBar.selectedFile
          p.fileBarText.barText(path="#{fsLocation}#{file.filename}")= file.filename
      else
        .file.outerBar
          p.fileBarText.barText(path="#{fsLocation}#{file.filename}")= file.filename
