#filePath
  .span.filePart
    a(href="#user/fs//") / 
  each fsPart in fsParts
    .span.filePart
      a(href="#").breadcrumb= fsPart
    .span.filePart
      p / 
#deleteButton
.files 
  .outerBar.turqouiseBtn#createFolder
    p.barText.fileBarText#createFolderBtn.pointer Create Folder
  .subItems#folderNameSub
    .outerBar#folderNameInput
      input(type="text", placeholder="Folder Name")
  if !inRoot
    .deleteBtn.outerBar.pointer.alizarinBtn#deleteFolder
      p.barText.fileBarText Delete This Folder
  .outerBar#filesSeparator
    .filesLabelContainer
        p.barText.filesLabel Files
  each file in files
    .file.outerBar.asphaltBtn
      p.fileBarText.barText(path="#{fsLocation}#{file.filename}")= file.filename
      p.delete ✕
  .file#barsContainer
    .bars
