<!DOCTYPE html>
<html>
	<head>
        <link rel="shortcut icon" href="/favicon.png" />

        <!-- compiled css -->
        <link href="/pedestal.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/cryptic.css" />

	</head>

<body>
	<div class="row" id="header">
        <div class="row">
            <div class="span2" id="logo"></div>
            <div class="pull-right" id="topBar"></div>
        </div>
	</div>
	<div class=body>
		<div id="mainContainer">
    </div>
	</div>
    <div id=footer>
        <a href="/pricing">Pricing</a>
        <a href="/help">Help</a>
        <a href="/blog">Blog</a>
        <a href="https://github.com/cryptic-io">Source</a>
        <a href="/security">Security</a>
        <a href="/privacy">Privacy</a>
    </div>

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/mori.js"></script>
    <script src="/q.js"></script>
    <script src="/underscore.js"></script>
    <script src="/ViewportHandler.js"></script>

    <script id="script-driver"></script>
</body>

</html>
