<div class="floatingContainer" id="singleFileInfoContainer" template="single-file">
  <div id="fileInfo">
    <div class="filename">
      <p>cool hammock.jpg</p>
    </div>

    <div class="boxes">
      <div class="filesize outerBar asbestos">
        <p class="barText">Size: 240 KB</p>
      </div>

      <div class="filetype outerBar asbestos">
        <p class="barText">Type: image/jpeg</p>
      </div>
      <div class="downloadBtn outerBar emeraldBtn pointer">
        <p class="barText">Download</p>
      </div>

      <div id="sharing">
        <div class="shareBtn outerBar peter-riverBtn pointer">
          <p class="barText">Share</p>
        </div>

        <div class="subItems">
          <div class="outerBar peter-riverBtn pointer" id="normalLink">
            <p class="barText">Normal Link</p>
          </div>

          <div class="outerBar peter-riverBtn pointer">
            <p class="barText">Time Limited Link</p>
          </div>

          <div class="outerBar peter-riverBtn pointer">
            <p class="barText">One Time Only Link</p>
          </div>
        </div>
      </div>

      <div class="deleteBtn outerBar alizarinBtn pointer">
        <p class="barText">Delete</p>
      </div>
    </div>
  </div>
</div>
