<div class="pull-right" id="topBar">
  <div class="topBox span carrotBtn">
    <p>About</p>
    <div class="selectedBar carrotSelected" style="left: -150px;">
    </div>
  </div>

  <div class="topBox span emeraldBtn">
    <p>Files</p>
    <div class="selectedBar emeraldSelected" style="left: -300px;">
    </div>
  </div>

  <div class="topBox span asphaltBtn">
    <p>Settings</p>
    <div class="selectedBar asphaltSelected" style="left: -450px;">
    </div>
  </div>
  
  <div class="topBox span peter-riverBtn">
    <p>Logout</p>
    <div class="selectedBar peter-riverSelected" style="left: -600px;">
    </div>
  </div>
</div>
