<div class="floatingContainer" id="uploadBoxContainer" template="upload-box"> 
  <div id="vault">
    <div class="inner-border" id="upload">
      <p class="vaultText">Drop a file in</p>

      <div class="separator">
        <p>or</p>
      </div>

      <div class="btn btn-inverse btn-block" id="filePickerBtn">
        <p>Pick a file</p>
      </div><input id="filePicker" onchange=
      "_fileView_handleFilePicker(this.files)" style="display:none" type=
      "file">
    </div>
  </div>
</div>
